In [2]:
import numpy as np
import pandas as pd
import scipy as sp

In [3]:
for i in pd.read_csv("class_list.csv")["Name"]:
    print(i)

Adyant Ranjan
Noah Kim
Amith Chintalapati
Adrien Durantel
Mia Frickey (Amelia)
Aryan Sawhney
Liam Kearns
Sarah Bao
Francesca Elia
Sophia Li
Annabel Qin
Nandika Auluck
Jerry Zhou
Tilas Kebengele

In [132]:
# Class List Generation
def generateLectureList():
    ppl = """
    A
    B
    C
    D
    E
    F
    G
    H
    I
    J
    K
    L
    """
    ppl = [i.strip() for i in ppl.split("\n") if i.strip()!=""]
    ids = pd.Series(range(len(ppl))).rename("Id")
    pd.DataFrame(ppl, columns=["Name"], index=ids).to_csv("lecture_list.csv")

generateLectureList()

In [137]:
class Class:
    def __init__(self, csv_name):
        self.load_class(csv_name)
    
    def load_class(self, csv_name):
        self.data = pd.read_csv(csv_name, index_col="Id")
        self.data["Talk Count"] = 0
        self.update_weights()
    
    def update_weights(self):
        self.data["Weights"] = sp.special.softmax(np.log(1/(self.data["Talk Count"]+0.1))/np.log(1.7))
    
    def choose_random(self):
        id = np.random.choice(self.data.index, p = self.data["Weights"])
        display(self.data.loc[id])
        self.data.loc[id, "Talk Count"] += 1
        self.update_weights()

    def volunteer(self, *, id=None, name=None):
        if id is None and name is None:
            raise "Provide an id or name"
        print(name)
        self.data.loc[np.logical_or(self.data["Name"] == name, self.data.index == id), "Talk Count"] += 1
        self.update_weights()
    
    def add_person(self, name):
        self.data.loc[len(self.data)] = [name, 0, 0]
        self.update_weights()
    
    def remove_person(self, *, id = None, name = None):
        if not np.any(id == self.data.index) and not np.any(name == self.data["Name"]):
            print(name in self.data["Name"])
            raise "Provide a valid id or name"
        if id is not None and name is not None:
            raise "Specify either id or name"

        self.data = self.data[self.data["Name"] != name]
        self.data = self.data[self.data.index != id]
lecture3 = Class("lecture_list.csv")
[lecture3.volunteer(id=i) for i in range(12)]

None
None
None
None
None
None
None
None
None
None
None
None

[None, None, None, None, None, None, None, None, None, None, None, None]

In [143]:
lecture3.volunteer(id=1)
display(lecture3.data)

None

   Name  Talk Count   Weights
Id
0     A           1  0.090664
1     B           7  0.002699
2     C           1  0.090664
3     D           1  0.090664
4     E           1  0.090664
5     F           1  0.090664
6     G           1  0.090664
7     H           1  0.090664
8     I           1  0.090664
9     J           1  0.090664
10    K           1  0.090664
11    L           1  0.090664

In [58]:
lecture3.volunteer(id=8)

None

In [69]:
lecture3.choose_random()

Name          Adyant Ranjan
Talk Count                5
Weights             0.09355
Name: 5, dtype: object

In [71]:
display(lecture3.data)

              Name  Talk Count   Weights
Id
0        Sophia Li           2  0.113960
1    Aryan Sawhney           1  0.141700
2      Annabel Qin           1  0.141700
3   Francesca Elia           4  0.097343
4   Nandika Auluck           3  0.103105
5    Adyant Ranjan           6  0.091353
6      Liam Kearns           2  0.113960
7        Sarah Bao           3  0.103105
8       Jerry Zhou           5  0.093776