In [2]:
import numpy as np
import pandas as pd
import scipy as sp

In [3]:
for i in pd.read_csv("class_list.csv")["Name"]:
    print(i)

A
B
C
D
E

In [110]:
# Class List Generation
def generateLectureList():
    ppl = """
    Aryan Sawhney 
    Annabel Qin 
    Francesca Elia 
    Nandika Auluck 
    Adyant Ranjan 
    Noah Kim
    Adrien Durantel
    Liam Kearns
    Sarah Bao
    Jerry Zhou
    """
    ppl = [i.strip() for i in ppl.split("\n") if i.strip()!=""]
    ids = pd.Series(range(len(ppl))).rename("Id")
    pd.DataFrame(ppl, columns=["Name"], index=ids).to_csv("lecture_list.csv")

generateLectureList()

In [111]:
class Class:
    def __init__(self, csv_name):
        self.load_class(csv_name)
    
    def load_class(self, csv_name):
        self.data = pd.read_csv(csv_name, index_col="Id")
        self.data["Talk Count"] = 0
        self.update_weights()
    
    def update_weights(self):
        self.data["Weights"] = sp.special.softmax(np.log(1/(self.data["Talk Count"]+0.1))/np.log(1.7))
    
    def choose_random(self):
        id = np.random.choice(self.data.index, p = self.data["Weights"])
        display(self.data.loc[id])
        self.data.loc[id, "Talk Count"] += 1
        self.update_weights()

    def volunteer(self, *, id=None, name=None):
        if id is None and name is None:
            raise "Provide an id or name"
        self.data.loc[np.logical_or(self.data["Name"] == name, self.data.index == id), "Talk Count"] += 1
        self.update_weights()
    
    def add_person(self, name):
        self.data.loc[len(self.data)] = [name, 0, 0]
        self.update_weights()
    
    def remove_person(self, *, id = None, name = None):
        if not np.any(id == self.data.index) and not np.any(name == self.data["Name"]):
            print(name in self.data["Name"])
            raise "Provide a valid id or name"
        if id is not None and name is not None:
            raise "Specify either id or name"

        self.data = self.data[self.data["Name"] != name]
        self.data = self.data[self.data.index != id]

lecture3 = Class("lecture_list.csv")
display(lecture3.data[["Name"]])

               Name
Id
0     Aryan Sawhney
1       Annabel Qin
2    Francesca Elia
3    Nandika Auluck
4     Adyant Ranjan
5          Noah Kim
6   Adrien Durantel
7       Liam Kearns
8         Sarah Bao
9        Jerry Zhou

In [144]:
lecture3.volunteer(id=4)
display(lecture3.data)

               Name  Talk Count   Weights
Id
0     Aryan Sawhney           1  0.262980
1       Annabel Qin           1  0.262980
2    Francesca Elia           4  0.022034
4     Adyant Ranjan           5  0.014604
5          Noah Kim           4  0.022034
6   Adrien Durantel           2  0.077748
7       Liam Kearns           3  0.037319
8         Sarah Bao           1  0.262980
9        Jerry Zhou           3  0.037319

In [146]:
lecture3.choose_random()
display(lecture3.data)

Name          Annabel Qin
Talk Count              1
Weights          0.322767
Name: 1, dtype: object

               Name  Talk Count   Weights
Id
0     Aryan Sawhney           1  0.417737
1       Annabel Qin           2  0.123501
2    Francesca Elia           4  0.035001
4     Adyant Ranjan           5  0.023198
5          Noah Kim           4  0.035001
6   Adrien Durantel           2  0.123501
7       Liam Kearns           3  0.059280
8         Sarah Bao           2  0.123501
9        Jerry Zhou           3  0.059280